body {
    background-color: #000000; /* sets the background color of the page to white */
  }

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

li {
    list-style-type: none
}

p, h1, h2, h3, a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    height: 95vh;
    width: 95vw;
    margin: 3vh 3vw;
}

.tile {
    background-color: #d69db8;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    opacity: 0.5;
}

.tile:hover > a {
    color:rgb(194, 53, 83)
}

.tile:hover > li > a{
    color:rgb(80, 161, 73)
}